# Ignore everything by default
*

# But keep these files
!.gitignore
!lib/SLiCAP_C18.lib
!lib/SLiCAP1.lib
!cir/MOS_OP_I.cir
!test.ipynb
!fitting.py
!generate_lib.py
!compare_libraries.py

# And don't ignore directories, so we can traverse them
!*/